inoremap <silent> jj <ESC>

set scriptencoding=utf-8
set encoding=utf-8
set fileencoding=utf-8

set number

set title
set autoindent
set smartindent
set hlsearch
set backup
set showcmd
set cmdheight=1
set laststatus=2
set expandtab
set scrolloff=10
set shell=zsh
set inccommand=split
set ignorecase
set smarttab
set breakindent
set shiftwidth=4
set tabstop=4
set nowrap
set backspace=start,eol,indent
set path+=*
set wildignore+=*/node_modules/*