!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

!URxvt.geometry:             96x32
URxvt.scrollBar:            false
!URxvt.scrollBar_right:      true
!URxvt.scrollBar_floating:   true
!URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
URxvt.pointerBlank:         true
! URxvt.visualBell:          true
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:HackGenNerd With FFxiv Glyph-18,\
                            xft:Symbola-18
URxvt.letterSpace:          -1
!URxvt.lineSpace:            0

URxvt.internalBorder:       10


! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

! *.background: #1c014a
*.background: rgba:0000/0000/0200/a500
*.foreground: #d9d9d9

! --- standard colors ---

! black
*.color0: #000000

! bright_black
*.color8: #7e7e7e

! red
*.color1: #e6413b

! bright_red
*.color9: #ee7f7b

! green
*.color2: #3be641

! bright_green
*.color10: #7bee7f

! yellow
*.color3: #e0e63b

! bright_yellow
*.color11: #eaee7b

! blue
*.color4: #413be6

! bright_blue
*.color12: #7f7bee

! magenta
*.color5: #e63be0

! bright_magenta
*.color13: #ee7bea

! cyan
*.color6: #3be0e6

! bright_cyan
*.color14: #7beaee

! white
*.color7: #d9d9d9

! bright_white
*.color15: #fbfbfb

! bold or italic
*.colorIT: #8ec07c
*.colorBD: #d5c4a1

! underlined
*.colorUL: #fa8072
*.underlineColor: #fa8072

URxvt*depth: 32


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
