!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

!URxvt.geometry:             96x32
URxvt.scrollBar:            false
!URxvt.scrollBar_right:      true
!URxvt.scrollBar_floating:   true
!URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
URxvt.pointerBlank:         true
! URxvt.visualBell:          true
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:HackGenNerd Console-18
!                            xft:Symbola-18
URxvt.letterSpace:          -1
!URxvt.lineSpace:            0

URxvt.internalBorder:       10

! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

URxvt.background: #1c014a
URxvt.foreground: #d9d9d9

! --- standard colors ---

! black
URxvt.color0: #000000

! bright_black
URxvt.color8: #7e7e7e

! red
URxvt.color1: #e6413b

! bright_red
URxvt.color9: #ee7f7b

! green
URxvt.color2: #3be641

! bright_green
URxvt.color10: #7bee7f

! yellow
URxvt.color3: #e0e63b

! bright_yellow
URxvt.color11: #eaee7b

! blue
URxvt.color4: #413be6

! bright_blue
URxvt.color12: #7f7bee

! magenta
URxvt.color5: #e63be0

! bright_magenta
URxvt.color13: #ee7bea

! cyan
URxvt.color6: #3be0e6

! bright_cyan
URxvt.color14: #7beaee

! white
URxvt.color7: #d9d9d9

! bright_white
URxvt.color15: #fbfbfb

! bold or italic
URxvt.colorIT: #8ec07c
URxvt.colorBD: #d5c4a1

! underlined
URxvt.colorUL: #fa8072
URxvt.underlineColor: #fa8072

! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------
