!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

!URxvt.geometry:             96x32
URxvt.scrollBar:            false
!URxvt.scrollBar_right:      true
!URxvt.scrollBar_floating:   true
!URxvt.scrollstyle:          plain
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
URxvt.pointerBlank:         true
! URxvt.visualBell:          true
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:apricotJapanesefontT-21,\
                            xft:HackGenNerd With FFxiv Glyph-18,\
                            xft:Symbola-18
URxvt.letterSpace:          -1
!URxvt.lineSpace:            0

URxvt.internalBorder:       10


! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

! *.background: #1c014a
*.background: rgba:0000/0000/0200/a500
*.foreground: #d9d9d9

! --- standard colors ---

! black
*color0: #41373f

! bright_black
*color8: #7b7178

! red
*color1: #ff6257

! bright_red
*color9: #ff7a72

! green
*color2: #59f56a

! bright_green
*color10: #75f582

! yellow
*color3: #ebf557

! bright_yellow
*color11: #eff572

! blue
*color4: #6c4ffd

! bright_blue
*color12: #846bfd

! magenta
*color5: #ff4fe9

! bright_magenta
*color13: #ff6bec

! cyan
*color6: #59e2fd

! bright_cyan
*color14: #75e5fd

! white
*color7: #e7dde5

! bright_white
*color15: #fff5fd

! bold or italic
*.colorIT: #8ec07c
*.colorBD: #d5c4a1

! underlined
*.colorUL: #fa8072
*.underlineColor: #fa8072

URxvt*depth: 32


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
